<!DOCTYPE html>
<html>
<head>
  <title>SimpleBlog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<div class="container">
  <%= render 'shared/header' %>
  <% if notice.present? %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>
  <% if alert.present? %>
    <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
  <% if flash[:errors].present? %>
    <div class="alert alert-danger" role="alert">
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </div>
  <% end %>

  <%= yield %>
  <p class="mt-5 mb-3 text-muted">© SimpleBlog <%= Time.now.year %> </p>
</div>
</body>
</html>
